@page "/Details"
@inject NavigationManager NavigationManager
@inject CityService CityService
@inject UserService UserService
@inject IProfileService ProfileService
@inject IAccountService AccountService
@rendermode @(new InteractiveServerRenderMode(prerender:false))

<PageTitle>DatingSite</PageTitle>

<h1>Details</h1>
<hr />

<main>
    <div class="Details">
        <h3>Account</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Username</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@UserService.CurrentAccount.Username</td>
                </tr>
            </tbody>
        </table>

        <table class="table">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Account Created</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@UserService.CurrentAccount.Email</td>
                    <td>@UserService.CurrentAccount.CreatedDate</td>
                </tr>
            </tbody>
        </table>

        <table class="table">
            <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@UserService.CurrentAccount.Firstname</td>
                    <td>@UserService.CurrentAccount.Lastname</td>
                </tr>
            </tbody>
        </table>

        <table class="table">
            <thead>
                <tr>
                    <th>Zipcode</th>
                    <th>birthdate</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@UserService.CurrentAccount.Zipcode @CityName</td>
                    <td>@UserService.CurrentAccount.Birthdate</td>
                </tr>
            </tbody>
        </table>

        <button class="Edit" @onclick="EditAccount">Edit</button>
    </div>

    <div class="Details">
        <h3>Profile</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Nickname</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@UserService.Profile.Nickname</td>

                </tr>

            </tbody>
        </table>

        <table class="table">
            <thead>
                <tr>
                    <th>Gender</th>
                    <th>Birthdate</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@UserService.Profile.Gender</td>
                    <td>@UserService.Profile.Birthdate</td>
                </tr>
            </tbody>
        </table>

        <table class="table">
            <thead>
                <tr>
                    <th>Height</th>
                    <th>Weight</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@UserService.Profile.Height</td>
                    <td>@UserService.Profile.Weight</td>
                </tr>
            </tbody>
        </table>

        <button class="Edit" @onclick="(()=>EditProfile(UserService.Profile.ProfileId))">Edit</button>
    </div>
    
</main>
<div id="Bottom">
    <button id="Delete" @onclick="DeleteAccountAndProfile">Delete Account</button>
</div>
